01 — AI Content Idea Generator.json
{
  "name": "01 — AI Content Idea Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "18a65649-3d8d-48a5-8654-51f869d26ad4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0793480a-5239-49b2-9bf8-c8255ce1cdc4",
              "name": "topic",
              "value": "AI automation for beginners",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a36f0207-b67a-4bd7-82a6-7d82781e9c24",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Give me 5 YouTube video ideas about {{ $json.topic }}. Format as a numbered list with a title and one sentence description each.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "8956ef1c-7904-4f03-a8d3-7983c6680f7a",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NcocoSQcqc0OZQJ1",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a132ab8-e580-4a49-9fa2-77b58034a14b",
              "name": "ai-response",
              "value": "= click the expression toggle (looks like {} on the right of the field) In the expression editor type: {{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "b2f9a87e-e862-4197-a481-2f50c093bd22",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e5868399-9c4e-4f2a-b9ea-2c1c13cacb83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f857df924504ee713843b67326a6980a31ee4a64fd6b91cf25e9e97fca18dea"
  },
  "nodeGroups": [],
  "id": "tsLIsrvqOxmWl3ir",
  "tags": []
}